/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-10-15, 11:29:24
    Author     : Dawid
*/

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursorPointer {
    cursor:pointer;
}

.bookImgBig{
    max-width: 250px;
}

.bookImgSmall{
    max-width: 40px;
}

form .stars {
    background: url("../img/stars.png") repeat-x 0 0;
    width: 150px;
    margin: 0 auto;
}

form .stars input[type="radio"] {
    position: absolute;
    opacity: 0 !important;
    filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
    width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
    width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
    width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
    width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
    width: 20%;
}
form .stars label {
    opacity: 0 !important;
    display: block;
    width: 30px;
    height: 30px;
    margin: 0!important;
    padding: 0!important;
    text-indent: -999em;
    float: left;
    position: relative;
    z-index: 10;
    background: transparent!important;
    cursor: pointer;
}
form .stars label:hover ~ span {
    background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
    width: 100% !important;
}
form .stars label.star-4:hover ~ span {
    width: 80% !important;
}
form .stars label.star-3:hover ~ span {
    width: 60% !important;
}
form .stars label.star-2:hover ~ span {
    width: 40% !important;
}
form .stars label.star-1:hover ~ span {
    width: 20% !important;
}
form .stars span {
    display: block;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    background: url("../img/stars.png") repeat-x 0 -60px;
    -webkit-transition: -webkit-width 0.5s;
    -moz-transition: -moz-width 0.5s;
    -ms-transition: -ms-width 0.5s;
    -o-transition: -o-width 0.5s;
    transition: width 0.5s;
}
.smallButton {
    display: inline !important;
    border-radius: 10px !important;
    padding: 0 1rem !important;
    font-size: 90% !important;
    line-height: 0px !important;
    background-color: #fff;
    color:#000 !important;
    border:solid 1px !important;
}

.biggerButton {
    display: inline !important;
    border-radius: 10px !important;
    padding: 0 1rem !important;
    font-size: 110% !important;
    border:solid 1px !important;;
    background-color: #444;
    color:#fff !important;
    border-color: #7c5bbd !important;
}

.availabeButton {
background-color:#55c75a !important;
}

.unavailableButton {
background-color:#f95252 !important;
}

.refactored-row {
display: flex;
margin-bottom: 2px !important;
background-color: #fff !important;
color:#000 !important;
border-bottom:solid 1px !important;
}

.details {
background-color: #fff !important;
}

.cardShort {
background-color: #fff !important;
padding: 10px !important;
color:#000 !important;
border:solid 1px !important;;
}

.cardLong {
background-color: #fff !important;
padding: 10px !important;
color:#000 !important;
border:solid 1px !important;;
}

.cardLongRating {
background-color: #cf0c4a !important;
padding: 10px !important;
}

.violetNav{
background-color: #7c5bbd
}

.labelCard{
background-color: #d7cece !important;
font-weight: bold;
}

.dataCard{
background-color: #fff !important;
}

.userDashboardCard{
color: #000 !important;
border: solid 1px !important;
margin: 0.5rem 0 0rem 0;
}